body {
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    color: #727272;
    position: relative;
}

#home {
    background-color: #f3f7f9;
    margin-top: 80px;
}

.site-wrapper {
    width: 100%;
    margin: 0 auto 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    height: 80px;
    background: #f3f7f9;
    padding: 0;
    width: 100%;
    z-index: 999;
}

.navbar-default {
    border-color: #f3f7f9;
}

.nav.navbar-nav {
    padding-left: 120px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-header {
    height: 80px;
    line-height: 80px;
    color: black;
    font-size: 30px;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 21px 0 0;
}

#loader {
    width: 200px;
    height: 200px;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.navbar-nav > li > a {
    padding-bottom: 30px;
    padding-top: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

#header .nav li:hover a, #header .nav li a.active {
    color: #fd602c;
    border-bottom: 3px solid #fd602c;
}

.logo-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.font-size-13px {
	font-size: 13px;
}

.font-size-15px {
	font-size: 15px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.uppercase {
    text-transform: uppercase;
}

.logo-container {
    margin-top: -15px;
}

.logo-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/*about [Start]*/

.sec-padding {
    padding: 80px 0;
}

.par-padding {
    padding: 160px 0;
}

.bmargin {
    margin-bottom: 0px;
}

h3.less-mar2 {
    margin-bottom: 5px;
}

.michroma {
    font-family: 'Michroma', sans-serif;
}

.personal-info {
    width: 100%;
    padding: 0px;
    margin: 0px;
    float: left;
}

.personal-info li {
    color: #fd602c;
    padding-bottom: 8px;
}

.personal-info li i {
    margin-right: 10px;
}

.section-title-5 {
    font-weight: normal;
    font-size: 26px;
}

.title-line-5 {
    width: 100%;
    padding: 0px;
    text-align: center;
    margin: 0 auto 60px auto;
}

.section-light {
    background-color: #f3f7f9;
}

.text-box.padding-3 {
    padding: 30px;
}

.text-box.white {
    background-color: #fff;
}

.icon-plain-large.right, .icon-plain-medium.right, .icon-plain-small.right, .icon-plain-msmall.right, .icon-plain-tiny.right {
    float: right;
    margin: 0px 0px 0px 20px;
}

.icon-plain-msmall {
    font-size: 32px;
    color: #242424;
    transition: all 0.3s ease-out 0s;
}

.text-orange-4 {
    color: #fd602c;
}

.iconlist {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.iconlist li {
    padding: 0px;
    margin: 0 0 15px 0;
    display: block;
    line-height: 23px;
}

.iconlist.orange li i {
    color: #fd602c;
    padding: 0 15px 0 0;
}

.btn.btn-orange-2.dark {
    color: #fff;
    background-color: #fd602c;
}

.btn.btn-orange-2 {
    color: #fff;
    background-color: #fd602c;
}

.btn.btn-xround {
    border-radius: 20px;
}

.btn {
    padding: 10px 36px;
    margin: 0px;
    box-shadow: none;
    border-radius: 0;
}

.text-box-left.less-padding-1 {
    padding: 0px 70px 0px 0;
}

.text-box-left {
    display: block;
    padding: 0px 90px 0px 0;
    margin: 0px;
    text-align: right;
}

.col-divider-margin-3 {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.explore-button {
    color: #fd602c;
}

#profile .img-holder {
    overflow: hidden;
    height: 100%;
    padding: 0px;
    top: 0px;
    position: absolute;
}

.background-imgholder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-size: cover !important;
    background-position: 70% 50% !important;
}

.nodisplay-image {
    display: none;
}

#profile .text-inner {
    padding: 80px 80px 80px 0;
}

.text-box.padding-7 {
    padding: 70px;
}

.text-box.white {
    background-color: #fff;
}

.text-box {
    width: 100%;
    float: left;
}

.lspace-1 {
    letter-spacing: 10px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

h6 {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 14px;
    font-style: normal;
}

.font-weight-5 {
    font-weight: 500;
}

.lspace-sm {
    letter-spacing: 5px;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

.title-line-4 {
    width: 34px;
    height: 2px;
    float: left;
    padding: 0px;
    margin: 0 auto 60px auto;
    background-color: #161616;
}
/*about [End]*/
.mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    z-index: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.image-caption {
	position: absolute;
    right: 0%;
    top: 45%;
    left: 0%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
}

/*=======================
  Footer CSS
=========================*/
footer {
    background: #fd602c;
    width: 100%;
    padding: 50px 0;
    position: relative;
    bottom: 0;
}

footer h5 {
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
    margin: 0 0 30px;
    font-weight: 800;
}

footer .connect {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

footer .connect li {
    float: left;
    margin-right: 35px;
    display: block;
}

footer .connect li a {
    display: block;
    color: #FFF;
    font-size: 30px;
}

footer .copyright {
    margin-top: 50px;
}

footer .copyright p {
    font-size: 13px;
    color: #fff;
}

.usefulLinks li a, .contact li a, .contact li {
    color: #fff;
}

/*=======================
  End Footer CSS
=========================*/

#header img {
    width: 100%;
    height: auto;
}

a.left.carousel-control,
a.right.carousel-control {
    display: none;
}

#about{
	background:#f5f5f5;
}
#about .single-service {
	text-align: center;
	background: #fff;
	padding: 30px;
	position: relative;
	-webkit-box-shadow: 1px 1px 6px rgba(20, 20, 20, 0.4);
	-moz-box-shadow: 1px 1px 6px rgba(20, 20, 20, 0.4);
	box-shadow: 1px 1px 6px rgba(20, 20, 20, 0.4);
}
#about .single-service .number{
	font-size: 28px;
	line-height: 65px;
	height: 65px;
	width: 65px;
	background: #252525;
	border-radius: 50%;
	text-align: center;
	display:inline-block;
	border:1px solid transparent;
}
#about .single-service .number p {
	color: #fff;
	margin:0;
}
#about .single-service:hover .number p{
	-webkit-transform:scale(1.4);
	-moz-transform:scale(1.4);
	transform:scale(1.4);
} 
#about .single-service h4 {
	font-size: 18px;
	font-weight: 700;
	margin: 14px 0;
}

.thumbs-container {
    background-color: #fff;
    margin-bottom: 30px;
}
.thumbs-image-container {
    height: 250px;
    overflow: hidden;
}

.lightbox-image-caption {
    top: 100%;
}

.lightbox-nav {
    display: none;
}

.box {
    height: 497px;
    overflow: auto;
    border-bottom: 5px solid #fd602c;
    padding: 10px;
    margin-bottom: 30px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.thumbs-image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(253,96,44,0) 0%,rgba(253,96,44,0.65) 54%,rgba(253,96,44,1) 100%);
}

.thumbs-image-caption p {
    font-size: 13px;
    font-weight: 600 !important;
    color: #fff;
    max-height: 36px;
    line-height: 18px;
    margin-bottom: 0;
    overflow: hidden;
}

.modal-content {
    height: 100% !important;
}

.modal-caption {
    background: rgba(253,96,44,0.65);
    padding: 10px;
    text-transform: lowercase;
}

.modal-caption p {
    color: #fff;
}

/*Media Queries*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .navbar-collapse.pull-right {
        width: 100%;
        background: #fff;
    }

    .nav.navbar-nav {
        padding-left: 15px;
        padding-right: 15px;
        background-color: #f3f7f9;
        margin-top: 0;
    }

    .navbar-toggle {
        margin-top: 24px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
