<div id="childhood" class="clearfix col-md-12 col-sm-12 col-xs-12">
    <div class="text-center">
        <h2 style="color: #333; font-weight: 700; margin-top: 0; margin-bottom: 15px;">CHILDHOOD AND CAREER</h2>
    </div>
    <div class="row">
        <div ng-repeat="image in timelineImages" class="col-12 col-md-6 col-lg-4">
            <div class="box">
                <div class="thumbs-container" ng-click="openLightboxModal('timeline', $index)">
                    <div class="thumbs-image-container">
                        <img ng-src="{{image.thumbUrl}}">
                    </div>
                </div>
                <h4 class="text-center" ng-bind="image.year"></h3>
                <p ng-bind="image.description"></p>
                <div class="text-right">
                    <a>Read More...</a>
                </div>
            </div>
        </div>
    </div>
</div>