<section id="companies" class="sec-padding">
    <div class="container">
        <div class="row">
            <h3 class="section-title-5 michroma uppercase less-mar2 text-center">GROUP COMPANIES</h3>
            <div class="title-line-5"><img src="css/images/about-bottom.png" alt=""></div>
            <div class="clearfix"></div>
            <br>
            <div ng-repeat="employment in employmentImages" ng-click="openLightboxModal('employment', $index)" class="col-12 col-md-6 col-lg-4">
                <div class="box section-light">
                    <h4 class="text-center" style="font-weight: bold">{{employment.details.name}}, <span class="text-orange-4">{{employment.details.place}}</span>
                    </h4>
                    <div>
                        <img ng-src="{{employment.thumbUrl}}" class="img-responsive">
                    </div>
                    <h4 class="text-center">
                        <span>{{employment.position}}</span>
                    </h4>
                    <ul style="padding: 0 15px" ng-repeat="each in employment.description track by $index">
                        <li style="margin-bottom: 10px">
                            <div><strong>{{each.section}}</strong></div>
                            <ul style="padding: 0 15px" ng-repeat="each in each.points track by $index">
                                <li><i class="fa fa-check text-orange-4"></i> {{each}}</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="text-right">
                        <button type="button" class="btn btn-link text-orange-4">Read more</button>
                    </div>
                </div>
            </div>
        </div>
</section>