<section id="companies" class="sec-padding section-light">
    <div class="container">
        <div class="row">
            <h3 class="section-title-5 michroma uppercase less-mar2 text-center">GROUP COMPANIES</h3>
            <div class="title-line-5"><img src="css/images/about-bottom.png" alt=""></div>
            <div class="clearfix"></div>
            <br>
            <div class="col-md-4 col-sm-12">
                <div>
                    <img src="css/images/luxuria.png" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div>
                    <img src="css/images/d-sign.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div>
                    <img src="css/images/address.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>    
</section>