<section id="home" class="relative">
    <div class="absolute" style="top: 30%; left: 8%; z-index: 1">
        <h2>"Entrepreneur, Philanthropist"</h2>
    </div>
    <div class="absolute" style="top: 70%; left: 20%; z-index: 1;">
        <button type="button" ng-click="gotoAnchor('profile')" class="explore-button">EXPLORE</button>
    </div>
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}" class="img-responsive pull-right">
        </div>
    </div>
</section>
