<section id="profile" class="clearfix sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 bmargin">
                <h3 class="less-mar2">Mr. Faisal Neelambra</h3>
                <div class="col-md-12 text-left nopadding"><img src="" alt=""></div>
                <div class="clearfix"></div>
                <br>
                <!--<h3>Mr. Faisal Neelambra</h3>-->
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.
                    Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet
                    ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci .</p>
                <br>
                <ul class="personal-info">
                    <li> <i class="fa fa-calendar"></i> Birthdate : 05/05/1982</li>
                    <li> <i class="fa fa-phone"></i> Phone : +971 2 1234567/li>
                    <li> <i class="fa fa-envelope"></i> Email : faisalneelambra@gmail.com</li>
                    <li> <i class="fa fa-globe"></i> Website : faisalneelambra.com</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 bmargin" style="max-height: 350px; overflow: hidden">
                <img src="css/images/profile-pic.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>