<section id="profile" class="clearfix sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 bmargin">
                <h3 class="less-mar2">Mr. Faisal Neelambra</h3>
                <div class="col-md-12 text-left nopadding"><img src="" alt=""></div>
                <div class="clearfix"></div>
                <br>
                <p>Managing Director of <strong>Luxuria</strong>, one of the best retail brand which has grown to a chain of retail stores locating across the popular destinations in UAE. His business chain includes <strong>D'SIGN INTERIORS</strong> and <strong>Amigos Exhibhitions LLC.</strong></p>
                <br>
                <ul class="personal-info">
                    <li> <i class="fa fa-calendar"></i> Birthdate : 05/05/1982</li>
                    <li> <i class="fa fa-phone"></i> Phone : +971 50 3476 100 </li>
                    <li> <i class="fa fa-envelope"></i> Email : faisal@neelambra.com</li>
                    <li> <i class="fa fa-globe"></i> Website : faisalneelambra.com</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 bmargin" style="max-height: 350px; overflow: hidden">
                <img src="https://mail.google.com/mail/u/0/?ui=2&ik=2df0956b6b&view=fimg&th=15cf3aad3cfb70a9&attid=0.5&disp=inline&safe=1&attbid=ANGjdJ_d9g7Ks8qKafNDiRWnxYFgsSUSrKyX2GwBs8VcGw4C5dr4jmJcu6UvJItlh-DsORenUMt01feXGmCNIvhEFhFEPk-FuaQH4Af5y2o1mpPLnreWR_JW7py5VgM&ats=1498793518802&rm=15cf3aad3cfb70a9&zw&sz=w1440-h800" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>