<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Faisal Neelambra</title>

    <!-- CSS Files [Start] -->
    <link rel="icon" type="image/png" href="css/images/machinser.png">
    <link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
    <link href="js/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="js/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="js/vendors/angular/angular-bootstrap-lightbox.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- CSS Files [End] -->

</head>

<body ng-controller="CommonController">
    <div class="mask text-center" ng-hide="isDomLoaded">
        <h2>Loading...</h2>
    </div>
    <div class="site-wrapper">
        <nav id="header" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-mobile" class="navbar-toggle collapsed" aria-expanded="false"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <!--<a href="index.html" class="navbar-brand">-->
                    <!--<img src="css/images/logo.png" alt="">-->
                    <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/NYCS-bull-trans-F.svg/2000px-NYCS-bull-trans-F.svg.png"
                            style="width: 50px; margin-right: 10px; margin-bottom: 5px">Faisal Neelambra</div>
                    <!--</a>    -->
                </div>
                <div class="collapse pull-right navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav">
                        <li ng-click="gotoAnchor('home')">
                            <a ui-sref="home" ui-sref-active="active">Home</a>
                        </li>
                        <li ng-click="goToState('home', 'profile')">
                            <a>Profile</a>
                        </li>
                        <li ng-click="goToState('home', 'employment')"><a>Employment</a></li>
                        <li><a ui-sref="gallery" ui-sref-active="active">Photo Gallery</a></li>
                        <li ng-click="goToState('home', 'companies')"><a>Group Companies</a></li>
                        <li ng-click="goToState('home', 'footer')"><a>Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div ui-view="home"></div>
        <div ui-view="profile"></div>
        <div ui-view="employment"></div>
        <div ui-view="childhood"></div>
        <div ui-view="gallery"></div>
        <div ui-view="companies"></div>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <h5>Connect</h5>
                        <ul class="connect">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-wikipedia-w"></i></a></li>
                        </ul>

                        <div class="clearfix"></div>
                        <div class="copyright">
                            <p>© Copyright 2017 by FaisalNeelambra.com. All rights reserved. </p>
                            <!--<p><a href="#"> Privacy Policy - Terms and Conditions </a>  </p>-->
                            <p> Website developed by <a href="http://machinser.com/" target="_blank"> Machinser Technologies</a>                                </p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>useful links</h5>
                        <ul class="usefulLinks">
                            <li ng-click="gotoAnchor('home')"><a>Home</a></li>
                            <li ng-click="gotoAnchor('profile')"><a>Profile</a></li>
                            <li ng-click="gotoAnchor('employment')"><a>Employment</a></li>
                            <li ng-click="gotoAnchor('gallery')"><a>Photo Gallery</a></li>
                            <li ng-click="gotoAnchor('career')"><a>Group Companies</a></li>
                            <li ng-click="gotoAnchor('works')"><a>Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-sm-6 hidden-xs">
                        <h5>Quick Contact</h5>
                        <ul class="contact">
                            <li>Luxuria, G Floor,</li>
                            <li>Sahara Centre, Al Nahda Street,</li>
                            <li>Sharjah, UAE</li>
                            <li>Tel (Office) : +971 50 3476 100</li>
                            <li>Direct : +971 50 3476 100</li>
                            <li>E-mail : <a href="#">faisal@neelambra.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JS Files [Start]-->
        <script src="js/vendors/require/require.js" data-main="js/main.js"></script>
        <!--<script src="vendors/bootstrap/js/bootstrap.min.js"></script>-->
        <!-- JS Files [End]-->
    </div>
</body>

</html>